### Task 1

In [1]:
import numpy as np
import pandas as pd

In [78]:
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [14]:
boston = load_boston()

In [20]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [48]:
data = boston.data

In [30]:
df.shape

(506, 13)

In [36]:
target = boston.target

In [244]:
for line in boston.DESCR.split("\n"):
    print(line)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [40]:
feature_names = boston.feature_names
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [56]:
X = pd.DataFrame(data, columns=feature_names)

In [57]:
y = pd.DataFrame(target, columns=['Price'])

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state=42)

In [73]:
lr = LinearRegression()

In [74]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [104]:
y_pred = lr.predict(X_test)

In [76]:
check_test = pd.DataFrame({'y_test': y_test["Price"], 
                           'y_pred': y_pred.flatten()}, 
                            columns = ["y_test", "y_pred"])

In [85]:
check_test["difference"]=check_test['y_test']-check_test['y_pred']

In [86]:
check_test

     y_test     y_pred        r2  difference
173    23.6  28.648960  0.711226   -5.048960
274    32.4  36.495014  0.711226   -4.095014
491    13.6  15.411193  0.711226   -1.811193
72     22.8  25.403213  0.711226   -2.603213
452    16.1  18.855280  0.711226   -2.755280
..      ...        ...       ...         ...
441    17.1  17.403672  0.711226   -0.303672
23     14.5  13.385941  0.711226    1.114059
225    50.0  39.983425  0.711226   10.016575
433    14.3  16.682863  0.711226   -2.382863
447    12.6  18.285618  0.711226   -5.685618

[152 rows x 4 columns]

In [80]:
r2 = r2_score(y_test, y_pred)
r2

0.711226005748496

### Task 2

In [84]:
from sklearn.ensemble import RandomForestRegressor

In [99]:
rfr = RandomForestRegressor(n_estimators=1000, max_depth= 12, random_state=42)

In [142]:
rfr.fit(X_train, np.ravel(y_train))

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [134]:
y_pred1 = rfr.predict(X_test)

In [141]:
r2 = r2_score(y_test, y_pred1)
r2

0.8749965273218174

###  RandomForestRegressor в данном примере работает лучше линейной регрессии

### Task 3

In [261]:
importances = rfr.feature_importances_

In [262]:
importances

array([0.03211748, 0.00154999, 0.0070941 , 0.0011488 , 0.01436832,
       0.40270459, 0.01424477, 0.06403265, 0.00496762, 0.01169177,
       0.01808961, 0.0123114 , 0.41567892])

In [274]:
importances.shape

(13,)

In [286]:
#importance = importances.reshape(1, -1)
#A = pd.DataFrame(importance, columns = feature_names)
#A = A.sort_values(0, axis=1, ascending=False)
#A

In [300]:
Z = pd.DataFrame(importances, index = feature_names)

In [301]:
Z.sort_values(0, ascending=False)

                0
LSTAT    0.415679
RM       0.402705
DIS      0.064033
CRIM     0.032117
PTRATIO  0.018090
NOX      0.014368
AGE      0.014245
B        0.012311
TAX      0.011692
INDUS    0.007094
RAD      0.004968
ZN       0.001550
CHAS     0.001149

In [267]:
importances.sum()

0.9999999999999999

RM average number of rooms per dwelling и LSTAT % lower status of the population